/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;

  /* Base Typography */
  --base-font-size: 18px;
  --font-family-heading: "DarkerGrotesque", sans-serif;
  --font-family-body: "DarkerGrotesque", sans-serif;

  /* Font Scale */
  --font-scale-f7-size: 2.5rem; /* 45px */
  --font-scale-f7-line-height: 1.36;
  --font-scale-f7-weight: 700;
  --font-scale-f7-family: var(--font-family-heading);
  --font-scale-f7: var(--font-scale-f7-weight) var(--font-scale-f7-size) /
    var(--font-scale-f7-line-height) var(--font-scale-f7-family);

  --font-scale-f5-size: 2.2222rem; /* 40px */
  --font-scale-f5-line-height: 1.36;
  --font-scale-f5-weight: 700;
  --font-scale-f5-family: var(--font-family-heading);
  --font-scale-f5: var(--font-scale-f5-weight) var(--font-scale-f5-size) /
    var(--font-scale-f5-line-height) var(--font-scale-f5-family);

  --font-scale-f4-size: 1.7778rem; /* 32px */
  --font-scale-f4-line-height: 1.36;
  --font-scale-f4-weight: 700;
  --font-scale-f4-family: var(--font-family-heading);
  --font-scale-f4: var(--font-scale-f4-weight) var(--font-scale-f4-size) /
    var(--font-scale-f4-line-height) var(--font-scale-f4-family);

  --font-scale-f3-size: 1.3333rem; /* 24px */
  --font-scale-f3-line-height: 1.36;
  --font-scale-f3-weight: 800;
  --font-scale-f3-family: var(--font-family-heading);
  --font-scale-f3: var(--font-scale-f3-weight) var(--font-scale-f3-size) /
    var(--font-scale-f3-line-height) var(--font-scale-f3-family);

  --font-scale-f2-size: 1.8rem; /* ~32px */
  --font-scale-f2-line-height: 1.36;
  --font-scale-f2-weight: 600;
  --font-scale-f2-family: var(--font-family-body);
  --font-scale-f2: var(--font-scale-f2-weight) var(--font-scale-f2-size) /
    var(--font-scale-f2-line-height) var(--font-scale-f2-family);

  --font-scale-f1-size: 0.8889rem; /* 16px */
  --font-scale-f1-line-height: 1.36;
  --font-scale-f1-weight: 600;
  --font-scale-f1-family: var(--font-family-body);
  --font-scale-f1: var(--font-scale-f1-weight) var(--font-scale-f1-size) /
    var(--font-scale-f1-line-height) var(--font-scale-f1-family);

  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
  font-family: "DarkerGrotesque";
  src: url("/fonts/DarkerGrotesque-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DarkerGrotesque";
  src: url("/fonts/DarkerGrotesque-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DarkerGrotesque";
  src: url("/fonts/DarkerGrotesque-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DarkerGrotesque";
  src: url("/fonts/DarkerGrotesque-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DarkerGrotesque";
  src: url("/fonts/DarkerGrotesque-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DarkerGrotesque";
  src: url("/fonts/DarkerGrotesque-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DarkerGrotesque";
  src: url("/fonts/DarkerGrotesque-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "DarkerGrotesque", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: white;
  font-size: 20px;
  line-height: 1.36;
  font: var(--font-scale-f2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: white;
}
h1 {
  font: var(--font-scale-f7);
}
h2 {
  font: var(--font-scale-f5);
}
h3 {
  font: var(--font-scale-f4);
}
h4 {
  font: var(--font-scale-f3);
  text-transform: uppercase;
}
p {
  font: var(--font-scale-f2);
  margin-bottom: 1em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}
a:hover {
  color: var(--accent);
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: #24292e;
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
